@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --animate-duration: 2s;
}


html {
    scroll-behavior: smooth;
}

.btn {
    @apply py-2 px-4 items-center  bg-color-secondary text-white font-medium text-lg rounded-md hover:scale-x-110 hover:shadow-xl ease-in duration-200;
}

.title {
    @apply py-3 text-3xl text-color-secondary text-center font-medium;
}

.user-pic.active-pic {
    border: 2px solid hsl(31, 93%, 47%);
    
}

.user-pic {
    transition:all .3s ease;
}

.user-text {
    display: none;
}

@keyframes moveup {
    0% {
        margin-top:20px;
        opacity:0;
    }
    50% {
        margin-top:10px;
        opacity:0.1;
    }
    100% {
        margin-top:0px;
        opacity:1;
    }
}

.user-text.active-text {
    display: block;
    animation: moveup 1s linear forwards;
}

.card {
    perspective: 1000px;
}

.front,
.back {
    backface-visibility: hidden;
    transition: all 0.4s ease;
}

.front {
    overflow: hidden;
}

::-webkit-scrollbar {
    width:3px;
}
::-webkit-scrollbar-track {
    background-color: rgb(255, 187, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(1, 0, 42);
}



.banner-img {
    animation: waffle 4.5s linear infinite alternate;
    box-shadow: 0 0px 20px rgba(47, 76, 57, 0.3);
}

@keyframes waffle {
    0% {
        border-radius: 48% 52% 57% 43% / 34% 44% 56% 66%;
    }
    25% {
        border-radius: 62% 38% 64% 36% / 34% 55% 45% 66%;
    }
    50% {
        border-radius: 43% 57% 51% 49% / 33% 42% 58% 67%;
    }
    100% {
        border-radius: 40% 60% 43% 57% / 52% 32% 68% 48%;
    }
}

.first-paragraph, 
.swiper,
.card1, 
.card2,
.card3,
.banner,
#saving-title,
#saving-paragraph,
.card4, 
.card5,
.card6,
.card7, 
.card8,
.card9,
.card10,
.card11,
.card12,
.footer
 {
    opacity:0;
}


.first-paragraph.animate__animated, 
.swiper.animate__animated, 
.card1.animate__animated, 
.card2.animate__animated,
.card3.animate__animated,
.banner.animate__animated,
#saving-title.animate__animated,
#saving-paragraph.animate__animated,
.card4.animate__animated, 
.card5.animate__animated,
.card6.animate__animated,
.card7.animate__animated, 
.card8.animate__animated,
.card9.animate__animated,
.card10.animate__animated,
.card11.animate__animated,
.card12.animate__animated,
.footer.animate__animated{
    opacity:1;
}


#saving-paragraph {
    animation-delay: .20s;
}
.card2{
   animation-delay: .20s;
}
.card3{
    animation-delay: .4s;
 }
 .card5 {
    animation-delay: .20s;
 }
 .card6 {
     animation-delay: .4s;
  }

  .card8 {
    animation-delay: .20s;
 }
 .card9 {
     animation-delay: .4s;
  }