@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply py-2 px-4 items-center  bg-color-secondary text-white font-medium text-lg rounded-md hover:scale-x-110 hover:shadow-xl ease-in duration-200;
}

.title {
    @apply py-3 text-3xl text-color-secondary text-center font-medium;
}

.user-pic.active-pic {
    border: 2px solid #a5e808;
}

.user-text {
    display: none;
}

.user-text.active-text {
    display: block;
}